.rss-subscribe {
    width: 60px;
    background: #3D3D3D;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    border-radius: 3px;

    a {
        color: #fff;
    }

    a:visited {
        color: #fff;
    }
}