.rss-subscribe {
  width: 60px;
  background: $rss-gray-color;
  text-align: center;
  color: $white;
  margin-top: 10px;
  border-radius: 3px;

  a {
    color: $white;
  }

  a:visited {
    color: $white;
  }
}
