.rss-subscribe {
  width: 3.75rem;
  background: $rss-gray-color;
  text-align: center;
  color: $white;
  margin-top: .625rem;
  border-radius: 3px;

  a {
    color: $white;
  }

  a:visited {
    color: $white;
  }
}
