title: Artamoshkin Maxim · Blog
# Site settings
email: admin@zverit.com
description: > # this means to ignore newlines until "baseurl:"
  Блог fullstack-разработчика. 
  <br/>
  Пишу о веб-разработке, по большей части о frontend. 
  <br/>
  Angular, React, JS, CSS3, ASP.NET, C#
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://blog.zverit.com" # the base hostname & protocol for your site
twitter_username: zverit 
github_username:  Zverit
permalink: pretty
# safe: true

paginate: 5
paginate_path: "/page/:num"
plugins: 
  - jekyll-sitemap 
  - jekyll-feed
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll/tagging
  - jekyll-tagging-related_posts
  
# Build settings
markdown: kramdown
timezone: Europe/Moscow
enforce_ssl: blog.zverit.com   # without any protocol

jekyll-archives:
  enabled:
  - year
  - month
  layout: archive
  permalinks:
    year: '/:year/'
    month: '/:year/:month/'
    day: '/:year/:month/:day/'
    tag: '/tag/:name/'
    category: '/category/:name/'

gems:
  - jekyll/tagging
  - jekyll-tagging-related_posts

kramdown:
  auto_ids:       true
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  input:          GFM
  hard_wrap:      false
  footnote_nr:    1
  coderay_line_number_start: 1
  coderay_line_numbers: inline

sass:
  style: compressed
