---
title: "Галерея · Артамошкин Максим"
sitemap: false

images:
  - image_path: https://drscdn.500px.org/photo/1061110333/m%3D900/v2?sig=a7bb8b8557eb61de77ba6a1b2195f7840c5bf863c8b415e420e0215d3f5baf40
    title: Untitled
    link: https://500px.com/photo/1061110333/untitled-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1061110133/q%3D80_m%3D1000/v2?sig=0a5e817ae210de5d40da81da35255f71e42e7aff3c444ce003f94b104750af86
    title: Untitled
    link: https://500px.com/photo/1061110133/untitled-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1056767432/q%3D80_m%3D1000/v2?sig=502f18134cb352d69e5c20f307a2ade461dcc931716f31e7b563deb45c150ce8
    title: Light in corridor
    link: https://500px.com/photo/1056767432/light-in-corridor-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1056766976/q%3D80_m%3D2000/v2?sig=93157b1d0a1a63ec60d1ce7e9f49189b2d2ec0817f13c7ef4e2aa904f3bf4e8c
    title: Night Bridge
    link: https://500px.com/photo/1056766976/night-bridge-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1056767047/q%3D80_m%3D2000/v2?sig=a64670845b6b10c83ad0967308057ac08f62c096733f7ff741939ab2aabb3b6b
    title: Night Bridge
    link: https://500px.com/photo/1056767047/night-bridge-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1056766901/q%3D80_m%3D1000/v2?sig=e4fc2d6ea17b13670cf4a1debfea03c2ebea7ac7b7d884727744cb6fe46be10d
    title: Rain on the street
    link: https://500px.com/photo/1056766901/rain-on-the-street-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1056766933/q%3D80_m%3D1000/v2?sig=50eb59e346665cd5c4d2400adc795b31c259f63b2be7aa7345e4b61c615660c3
    title: Light on Column
    link: https://500px.com/photo/1056766933/light-on-column-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1054507845/q%3D80_m%3D2000/v2?sig=d7689396f472a0150cded588f3e66588e3b575c3a79f37162afa938fecf4a34d
    title: A bird's-eye view of the river
    link: https://500px.com/photo/1054507845/a-birds-eye-view-of-the-river-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1054507526/q%3D80_m%3D2000/v2?sig=aef1229513b4dfe6d88ad274418e0d274ca72a83120fe09ea8030b91f4e736f4
    title: sup board trip on a wild river
  - image_path: https://drscdn.500px.org/photo/1054507259/q%3D80_m%3D2000/v2?sig=03586f641bc77240f0ddb4da7aabd90d231eba6788e74844573aa070f3587171 
    title: A bird's-eye view of the road. Dawn by artamoshkinm / 500px 
    link: https://500px.com/photo/1054507259/a-birds-eye-view-of-the-road.-dawn-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1054506015/q%3D80_m%3D2000/v2?sig=9ce39fc8eca7170feb9b4c6cedbe9b93946bc20746b330510b257f244800acff 
    title: Stairs by artamoshkinm / 500px 
    link: https://500px.com/photo/1054506015/stairs-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1054481265/q%3D80_m%3D1000/v2?sig=092eeef386cdbd2150f6ac7ded2ebc3e6c7080eeb1a752de0c1e802816232e68 
    title: dancer on the street by artamoshkinm / 500px 
    link: https://500px.com/photo/1054481265/dancer-on-the-street-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1054457196/q%3D80_m%3D1000/v2?sig=cb021a5d3f32814d4b7604d46d05be0f86e1df81aa9ba3beb7133ecc71d7e60e 
    title: The painter draws. Autumn day by artamoshkinm / 500px 
    link: https://500px.com/photo/1054457196/the-painter-draws.-autumn-day-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052868105/q%3D80_m%3D1000/v2?sig=33d7e957dcd3ac97a93ec46b835a85f8dbfa4ce66dc37abcbd1c1dfbb6ad81f8 
    title: Abstraction by artamoshkinm / 500px 
    link: https://500px.com/photo/1052868105/abstraction-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052187360/q%3D80_m%3D1000/v2?sig=06bd3bb38ed2efde9339e39990118142912b3be375822f51bce365f52a3d5d77 
    title: Rain in the sunshine by artamoshkinm / 500px 
    link: https://500px.com/photo/1052187360/rain-in-the-sunshine-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052186834/q%3D80_m%3D1000/v2?sig=c2c8c27db35a19db081b2ffeb4b285871ac0f9a3fff364ca44a1b1cd2267cf82 
    title: a bicycle on the street by artamoshkinm / 500px 
    link: https://500px.com/photo/1052186834/a-bicycle-on-the-street-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052186283/q%3D80_m%3D1000/v2?sig=259005c566be472569d1c580521214e5940985dddda9bdb0d6ee138960c429af 
    title: Art Gallery by artamoshkinm / 500px 
    link: https://500px.com/photo/1052186283/art-gallery-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052185371/q%3D80_m%3D1000/v2?sig=537cb5fd084633fcaaa30421214467eb63909a69145419845771f9bc08f86df8 
    title: A warm summer evening by artamoshkinm / 500px 
    link: https://500px.com/photo/1052185371/a-warm-summer-evening-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052185091/q%3D80_m%3D1000/v2?sig=2ad30a90bfa22dd4e6639ff5b5da285fdf10ddfa1849f2faa71f2b5dbfa8ab10 
    title: The setting sun on the train by artamoshkinm / 500px 
    link: https://500px.com/photo/1052185091/the-setting-sun-on-the-train-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1052184755/q%3D80_m%3D1000/v2?sig=a2162830f585efd8838a1b9e7268353a0087b565bf8d7c34dffc596ec88914c0 
    title: Childhood by artamoshkinm / 500px 
    link: https://500px.com/photo/1052184755/childhood-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048543387/q%3D80_m%3D1000/v2?sig=e3b8a24cfd4e0f59820ddf396da13fa40f4527debe699b8952f75d3c7838ce9d 
    title: Gopher eats a cookie by artamoshkinm / 500px 
    link: https://500px.com/photo/1048543387/gopher-eats-a-cookie-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048543329/q%3D80_m%3D1000/v2?sig=f1ccd8f47a9f9cf2287793b40db468c68fe5bc0b18a01dec71ad363911ab4f54 
    title: Mountain View by artamoshkinm / 500px 
    link: https://500px.com/photo/1048543329/mountain-view-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048543277/q%3D80_m%3D1000/v2?sig=c4a4c1d903117a1c87b725cd51a3ab163c869100df6cc423f0299271eae7f487 
    title: Mountain View by artamoshkinm / 500px 
    link: https://500px.com/photo/1048543277/mountain-view-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048543201/q%3D80_m%3D1000/v2?sig=35e7f9db553495ee34215363de04bfddb02b6955a3c3b5c938c74f6ccadfe08b 
    title: City of the Dead in the Mountains by artamoshkinm / 500px 
    link: https://500px.com/photo/1048543201/city-of-the-dead-in-the-mountains-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048543052/q%3D80_m%3D1000/v2?sig=44de87ec4ab42dd36284c062ad487fa49882039fe29cc113977d2f5a49f4a835 
    title: Fog in the canyon by artamoshkinm / 500px 
    link: https://500px.com/photo/1048543052/fog-in-the-canyon-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048542974/q%3D80_m%3D1000/v2?sig=52262ae76ea5e7677e9a9413811f266e5cf2359ba350b6e39fef59f865eb5d96 
    title: Cup on mountain view by artamoshkinm / 500px 
    link: https://500px.com/photo/1048542974/cup-on-mountain-view-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1048513654/q%3D80_m%3D1000/v2?sig=a1d81dccc9559a7ef02dfa784751b1ad09c6a4858fe941f38cb9ce018286b677 
    title: Mountains view by artamoshkinm / 500px 
    link: https://500px.com/photo/1048513654/mountains-view-by-artamoshkinm
  - image_path: https://drscdn.500px.org/photo/1046659119/q%3D80_m%3D1000/v2?sig=b9255da8a9e4cb7811a899ee8ca1e65c617c186c8617a04ab465bff736739ce4 
    title: magazine in car by artamoshkinm / 500px 
    link: https://500px.com/photo/1046659119/magazine-in-car-by-artamoshkinm
---

<!DOCTYPE html>
<html lang="ru">
  {% include head.html %} {% include lazyload.html %}

  <body id="gallery-body">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "keywords": "software engineering angular react redux front-end c# javascript typescript frontend programmer программист разработчик блог программирование фронтенд",
        "url": "https://blog.zverit.com",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://blog.zverit.com"
        },
        "author": {
          "@type": "Person",
          "name": "Artamoshkin Maxim",
          "sameAs": [
            "https://twitter.com/Zverit",
            "https://plus.google.com/u/0/+ArtamoshkinZveritMaxim",
            "https://vk.com/zverit",
            "https://instagram.com/zverit",
            "https://www.facebook.com/maximArtamoshkin"
          ]
        }
      }
    </script>

    {% include header.html %}

    <div class="page-content">
      <section>
        <h1 class="page-title">Галерея</h1>
        <ul class="gallery">
          {% for image in page.images %}
          <div class="blur">
            <a  href="{{image.link}}" target="_blank">
             <img
                data-echo="{{ image.image_path }}"
                src="/assets/loading-opaque.gif"
                alt="{{ image.title}}"
            /></a>
            <span class="title">{{image.title}}</span>
          </div>
          {% endfor %}
        </ul>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
<!-- 
`- image_path: ${document.getElementsByClassName('photo-show__img')[0].src} 
    title: ${document.title} 
    link: ${document.location.href}` -->