---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.tags != empty %}
          |
          {% for tag in post.tags %}
          <a class="codinfox-tag-mark post-tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
          {% endif %}
          
          <div class="post-preview">
          {{ post.content | split:"<!-- more -->" | first % }}
          </div>
          <div class="codinfox-post-more">
            <a href="{{ post.url }}#disqus_thread">Comment</a>&nbsp;
            <a href="{{ post.url }}">Read more</a>
        </div>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
