<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li style="text-transform:uppercase">{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <a href="http://www.copyscape.com/" target="_blank"><img src="https://blog.zverit.com/assets/copyscape-banner-gray-110x36.png" width="110" height="36" border="0" alt="Protected by Copyscape" title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page." /></a>
      </div>
<link rel="publisher" href="https://plus.google.com/b/114908284667574282591" />
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">     
          <li>
	  	<div class="rss-subscribe">
	  		<a  href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
	  	</div>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
              <!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

		<div id="mc_embed_signup">
		<form action="//zverit.us13.list-manage.com/subscribe/post?u=a8b392fd06c991f284242671f&amp;id=576b0f82b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your E-mail address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a8b392fd06c991f284242671f_576b0f82b2" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button raised grey"></div>
		    </div>
		</form>
		</div>
		
		<!--End mc_embed_signup-->
      </div>
		
    </div>

  </div>

</footer>
<script type="text/javascript">
	(function (d, src, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);js.async = 1;js.id = id;js.src = src;fjs.parentNode.insertBefore(js, fjs);
	})(document, '//analytics.truvisibility.com/content/tracking/mg-sdk.min.js', 'script', 'mg-jssdk');
    (function () {
        var chain = window.onload;
        window.onload = function () {
			if (chain) chain.apply(this, arguments);
			_mg.register('//analytics.truvisibility.com/api/tracking', 'blog.zverit.com');
		}
	})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79210631-2', 'auto');
  ga('send', 'pageview');

</script>
