.expo-section {
  .page-title {
    text-align: center;
  }

  ul {
    list-style-type: circle;
    padding: 0;

    li {
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      padding: 0 1rem;

      &:hover {
        list-style-type: disc;
        padding: 0 .5rem;
      }

      h3 {
        display: inline-block;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
