.footer-col-wrapper {
  font-size: 1rem;
  color: $grey-color;

  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
    text-align: center;
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }

  .site-footer {
    #mc_embed_signup {
      background: $footer-color;

      #mc_embed_signup_scroll {
        display: flex;

        input.button {
          height: 2.5rem;
          line-height: 2.5rem;
          min-width: 7.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}

.site-footer {
  font-family: "Montserrat";
  padding: $spacing-unit 0;
  background-color: $footer-color;

  .copyscape {
    margin: 2.1875rem 0 0 0;
  }

  #mc_embed_signup form {
    padding: 0;
    background: $footer-color;
  }
}

.telegram {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
  margin-left: 0.675rem;
  fill: $white;
  background: url(../assets/telegram-brands.svg);
  background-repeat: no-repeat;
}
