/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-logo{
    float: right; 
    max-width: 270px;
    margin-left: 10px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    
    img{
        display: none;
    }
    
    blockquote{
        display: none;
    }

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
}
.post-preview{
    color: $text-color;
    text-align: justify;
    margin-top: 10px;
}
.post-link {
    display: block;
    font-size: 24px;
    color: #000;
}

.post-more{
    a{
        padding-left: 15px;
    }
    
    text-align: right;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}
.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.post-tag{
    display: inline-block;
    background: #3d3d3d;
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #fff;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:hover{ 
        color: #fff;
    }
    &:visited {
        color: #fff;
    }
}
.related{
    h4{
        text-transform: uppercase;
    }
    
    ul{
        list-style: none;
    }
}
.post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;
    
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    
    img, code {
	  -webkit-filter: grayscale(100%);
	  -moz-filter: grayscale(100%);
	  -ms-filter: grayscale(100%);
	  -o-filter: grayscale(100%);
	  filter: grayscale(100%);
	  filter: gray; /* IE 6-9 */
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  -o-transition: all 1s;
	  transition: all 1s;
	}
    
    img, code:hover {
	  -webkit-filter: none;
	  -moz-filter: none;
	  -ms-filter: none;
	  -o-filter: none;
	  filter: none;
	  filter: none; /* IE 6-9 */
	}
}

.expo-section {
    ul {
      list-style-type: circle;
      list-style-position: inside;
      padding: 0;
      li {
          -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        padding: 0 1rem;
        &:hover {
          list-style-type: disc;
          padding: 0 .5rem;
        }
      }
    }
    a {
      text-decoration: none;
    }
 }

.rss-subscribe{
	width: 60px;
    background: #3D3D3D;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    border-radius: 50px;
    a{
	color: #fff;
}

	a:visited{
		color:#fff;
	}
}
#mc_embed_signup form{
	padding: 0;
}
#mc_embed_signup .button{ 
	background-color: #3d3d3d!important;
}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }


    /********************************* BLOCKQUOTE *****************************/
    @mixin media($max-width) {
    @media (max-width: #{$max-width}) {
        @content;
    }
}
    $font:      "proxima-nova-alt", "Proxima Nova", Helvetica, sans-serif;
$font-sc:   "proxima-nova-sc-osf-condensed", "Proxima Nova Condensed", Helvetica, sans-serif;
$alt-font:  "abril-titling-condensed", Helvetica, sans-serif;
$mono-font: "courier prime", "courier-prime", monospace, serif;

$base-font-size:  17px;
$small-font-size: $base-font-size * 0.875;

$unit: 24px;

$text-color:           #17181d;
$background-color:     #fafcfc;
$action-color:         #67a492;
$alt-action-color:     #8167ad;
$alt-background-color: #2c2f38;
$alt-background-color: lighten($text-color, 10%);
$gray-color:           lighten($text-color, 30%);

$color0: #eeedcf;
$color1: #98c3d4;
$color2: #88c1af;
$color3: #c1a070;
$color4: #9b7ecb;
$color5: #666a81;
$color6: #87a1eb;
$article-width: 36*$base-font-size;
$padding: 5%;
$padding-factor: 1/0.8999;
$transparent: rgba(white, 0);
/*
    blockquote {
        position: relative;
        $border-color: $gray-color;
        $border-width: 5px;

        $border-color-light: rgba($gray-color, 0.05);
        $border-color-light: #f1f3f4;

        border-left: $border-width solid $border-color;
        background: $border-color-light;
        width: $article-width + $unit;
        box-sizing: border-box;
        margin: $unit 0 $unit/3*5 -0.5*$unit;
        padding: $unit/2 $unit/2 $unit/3 $unit/2;
        border-radius: $border-width $border-width $border-width 0;
        
        $article-width: 36*$base-font-size;
	$padding: 5%;
	$padding-factor: 1/0.8999;

        @include media($article-width) {
            margin-left: -$padding-factor*$padding;
            margin-right: -$padding-factor*$padding;
            width: $padding-factor*100%;
            box-sizing: border-box;
            padding-left: 5%;
            padding-right: 5%;
            border-left: none;
            border-top: 1px solid darken($border-color-light, 10%);
            border-radius: 0;
        }

        p {
            margin: 0;
            font-family: $alt-font;
            font-size: 1.1*$base-font-size;
            font-weight: 400;
            font-style: italic;
            text-align: left;
            position: relative;
            text-indent: 1.6*$unit;
            color: $border-color;
            line-height: 1.35;

            a {
                color: inherit;
            }

            &:last-of-type::after, &:first-child::before {
                font-family: $font-sc;
                font-size: 3.5*$unit;
                font-weight: 600;
                color: $border-color;
                display: inline-block;
                width: 1.5em;
            }

            &:first-child::before {
                content: '\201C';
                position: absolute;
                top: -1.05*$unit;
                left: -2.1*$unit;
            }

            &:last-of-type::after {
                content: '\201D';
                font-size: 2.25*$unit;
                color: lighten($border-color, 2%);
                position: relative;
                top: 0.875*$unit;
                left: -1.85*$unit;
                line-height: $unit/8;
            }

            a::before {
                content: "\2014";
                padding-right: 0.5em;
            }
        }

        & > cite {
            display: block;
            position: absolute;
            top: 100%;
            left: -$border-width;
            padding: 0 0 0 3*$unit;
            height: $unit/3*2;
            border-radius: 0 0 0 $border-width;

            box-sizing: border-box;
            background: $border-color;
            color: $background-color;

            font-family: $font-sc;
            text-transform: lowercase;
            font-size: 0.9*$base-font-size;
            font-weight: 600;
            font-style: normal;
            text-align: left;
            line-height: 1.1em;


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 1.2*$unit;
                height: 0;
                width: 0;
                pointer-events: none;
                border: solid $transparent;
                border-top-color: $border-color-light;
                border-width: $unit/2;
            }

            &::after {
                content: " ";
                width: 2*$unit;
                height: $unit/3*2;
                position: absolute;
                top: 0;
                left: 100%;
                background: $border-color;
                border-radius: 0 0 100% 0;
            }

            @include media($article-width) {
                margin-right: -$padding-factor*$padding;
                width: $padding-factor*100%;

                &::before {
                    left: 7%;
                }

                &::after {
                    display: none;
                }
            }

            a, a:hover, a:focus {
                color: $border-color-light;
                text-decoration: none;
            }
        }
    }
    */
     
