.pagination {
	text-align: center;
	margin-top: 40px;

	li {
		display: inline-block;
		border-radius: 3px;
		text-align: initial;
		vertical-align: top;

		height: 30px;
		color: #444;
		font-size: 1.2rem;
		line-height: 30px;

		>a, >b, >span { 
			padding: 0 10px;
		}

		&:hover{
			background-color: #e5e5e5;
			color: #fff;
		}
	}

	li.active {
		background-color: #424242;
		color: #fff;
	}

	.disabled {
		opacity: .6;
	}
}
