body::-webkit-scrollbar-track {
    background-color: $scroll-bar-track-color;
}

body::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background-color: $scroll-bar-color;
}

body::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-thumb;
    border-radius: 3px;
}

.highlight::-webkit-scrollbar-track {
    background-color: $scroll-bar-track-color;
}

.highlight::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background-color: $scroll-bar-color;
}

.highlight::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-thumb;
    border-radius: 3px;
}
