.signature {
  display: flex;
  text-align: right;
  font-size: $font-weight-lighter;
  justify-content: flex-end;
  padding-top: .3125rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  font-family: "Montserrat";

  .name {
    padding-left: .3125rem;
  }
}
