#mc_embed_signup .button {
	background-color: $subscribe-btn-color !important;
}

.expo-section {
	#mc_embed_signup input.button {
		display: inline-block;
		width: 15%;
		min-width: 105px;
		height: 34px;
	}

	#mc_embed_signup .button {
		border-radius: 0 3px 3px 0;
	}

	#mc_embed_signup input.email {
		margin: 0 -5px -20px 0;
		display: inline-block;
		border-radius: 3px 0 0 3px;
		min-width: 150px;
		width: 30%;
	}
}

#mc_embed_signup {
	background: $white;
	clear: left;
}
