.signature {
    text-align: right;
    font-size: smaller;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 0;

    .name {
        padding-left: 5px;
    }
}
