// Our variables
$base-font-family: "Arimo", Helvetica, sans-serif;

$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-size-base: 1rem;
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$site-title-font-size: 1.125rem;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base * 1.125 !default;

$white: #fff;
$black: #000;

$gray-500:  #333;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$background-color: #F5F5F5;
$brand-color: #303030;
$text-color: $gray-500;

$footer-btn-color: #3D3D3D;
$rss-gray-color: $footer-btn-color;
$subscribe-btn-color: $footer-btn-color;

$post-tag-color: rgba($brand-color, .8);
$footer-color: #212121;
$post-links-border-color: $gray-500;

$pagination-active-color: $brand-color;
$pagination-arrow-color: $text-color;
$pagination-prev-next-hover-bg: rgba($brand-color, .1);

$scroll-bar-track-color: $grey-color-light;
$scroll-bar-color: $background-color;
$scroll-bar-thumb: rgba($grey-color, .5);

// Social button colors
$feedly-color: #09B452;
$linkedin-color: #0B618C;
$pocket-color: #FF1B3E;
$gplus-color: #F43E28;
$twitter-color: #06A2F3;
$facebook-color: #2E5990;

// Width of the content area
$content-width: 950px;
$spacing-unit: 20px;
