<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Blog",
      "keywords": "management, IT, business, teamlead, software engineering angular react redux front-end c# javascript typescript frontend programmer программист разработчик блог программирование фронтенд",
      "url": "https://blog.zverit.com",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://blog.zverit.com"
      },
      "author": {
        "@type": "Person",
        "name": "Артамошкин Максим",
        "sameAs": [
          "https://vk.com/m_artamoshkin",
          "https://instagram.com/m.artamoshkin",
          "https://www.facebook.com/maximArtamoshkin"
        ]
      }
    }
  </script>
  
  {% include header.html %}
  
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
