<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Blog",
      "keywords": "software engineering angular react redux front-end c# javascript typescript frontend programmer программист разработчик блог программирование фронтенд",
      "url" : "https://blog.zverit.com",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://blog.zverit.com"
      },
      "author": {
        "@type": "Person",
        "name": "Artamoshkin Maxim",
        "sameAs" : [
        "https://twitter.com/Zverit",
        "https://plus.google.com/u/0/+ArtamoshkinZveritMaxim",
        "https://vk.com/zverit",
        "https://instagram.com/zverit",
        "https://www.facebook.com/maximArtamoshkin"
        ]
      }
    }
  </script> 
  
  {% include header.html %}
  
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
