<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Blog",
      "keywords": "software engineering angular c# javascript typescript",
      "url" : "https://blog.zverit.com",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://blog.zverit.com"
      },
      "author": {
        "@type": "Person",
        "name": "Artamoshkin Maxim",
        "sameAs" : [
        "https://twitter.com/Zverit",
        "https://plus.google.com/b/114908284667574282591",
        "https://www.facebook.com/maximArtamoshkin"
        ]
      }
    }
  </script> 
  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
