---
layout: default
---
<article class="post">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time> |
			{% for tag in page.tags %}
			<a class="codinfox-tag-mark post-tag" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
			{% endfor %}
			{% if page.author %} •
			<span><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
		</header>

		<div class="post-content">
			{{ content }}
		</div>
		<ul class="share-buttons">
			<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t=" rel="nofollow" title="Share on Facebook" target="_blank"><span class="fa fa-facebook"></span></a></li>
			<li><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}" rel="nofollow" target="_blank" title="Tweet" ><span class="fa fa-twitter"> </span></a></li>
			<li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><span class="fa fa-google-plus"></span></a></li>
			<li><a href="https://getpocket.com/save?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Add to Pocket" ><span class="fa fa-get-pocket"> </span></a></li>
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source={{ site.title }}+#zveritblog" rel="nofollow" target="_blank" title="Share on LinkedIn" ><span class="fa fa-linkedin"></span></a></li>
		</ul>
	</article>
	<script type="application/ld+json">
		{  
			"@context":"http://schema.org",
			"@type":"BlogPosting",
			"headline":"{{ page.title }}",
			"genre":"{{ page.category }}",
			"keywords":"{{ page.tags }}",
			"wordCount":"{{  page.content | number_of_words }}",
			"url":"https://blog.zverit.com{{ page.link }}",
			"datePublished":"{{ page.date | date: "%-d %B %Y" }}",
			"author":{  
				"@type": "Person",
				"name": "Artamoshkin Maxim",
				"sameAs" : [
				"https://twitter.com/Zverit",
				"https://plus.google.com/b/114908284667574282591",
				"https://www.facebook.com/maximArtamoshkin"
				]
			},
			"publisher":{  
				"@type": "Person",
				"name": "Artamoshkin Maxim",
				"sameAs" : [
				"https://twitter.com/Zverit",
				"https://plus.google.com/b/114908284667574282591",
				"https://www.facebook.com/maximArtamoshkin"
				]
			},
			"image":{  
				"@type":"ImageObject",
				"contentUrl":"https://blog.zverit.com{{page.image}}",
				"url":"blog.zverit.com",
				"height":"450",
				"width":"1000"
			},
			"mainEntityOfPage":{  
				"@type":"WebPage",
				"@id":"https://blog.zverit.com{{ page.link }}"
			},
			"articleBody":"{{ content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
		}
	</script>
	<div class="related expo-section">
		<h3>Также рекомендуем:</h3>
		<ul>
			{% for post in site.related_posts limit:3 %}
			<a href="{{ post.url }}">
				<li>
					<h3>{{ post.title }}</h3>
				</li>
			</a>
			{% endfor %}
		</ul>
	</div>
	<div id="disqus_thread"></div>
	<script>
		var disqus_config = function () {
			this.page.url = "{{site.url}}{{page.url}}"; 
			this.page.identifier = "{{page.url}}";
		};
		(function() {
			var d = document, s = d.createElement('script');

			s.src = '//blogzverit.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the comments</noscript>
