---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> |
    {% for tag in page.tags %}
       <a class="codinfox-tag-mark post-tag" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    {% if page.author %} •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="images/simple_icons_black/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F&text=:%20https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="images/simple_icons_black/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="images/simple_icons_black/Google+.png"></a></li>
  <li><a href="https://getpocket.com/save?url=https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F&title=" target="_blank" title="Add to Pocket" onclick="window.open('https://getpocket.com/save?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Add to Pocket" src="images/simple_icons_black/Pocket.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F&title=&summary=&source=https%3A%2F%2Fblog.zverit.com%2Ffrontend%2F2016%2F11%2F15%2Fwebpack-and-lazy-loaded-modules%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Share on LinkedIn" src="images/simple_icons_black/LinkedIn.png"></a></li>
</ul>
<div class="related expo-section">
          <h3>Related Posts:</h3>
          <ul>
            {% for post in site.related_posts limit:3 %}
              <a href="{{ post.url }}">
                  <li>
                  <h3>{{ post.title }}</h3>
                  </li>
              </a>
            {% endfor %}
          </ul>
</div>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//blogzverit.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
